html {
  background-color: #D1E7FF;
  font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
.header {
  padding: 80px;
  text-align: center;
  background: #C0B8FF;
  color: black;

  /* position: absolute; */
  /* left: 0;
  top: 0;
  width: 100%; */
}

.header-smaller {
  padding: 15px;
  text-align: center;
  background: #C0B8FF;
  color: black;
}

.header h1 {
  font-size: 40px;
}


/* NAV BAR */
.navbar {
  overflow: hidden;
  background-color: #A39AFB;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #5088FF;
  color: white;
}


/* CONTENT SECTIONS */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #A4CAFE;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: #A4D3FE;
  padding: 20px;
}

.real-main {
  background-color: #A4D3FE;
  padding: 20px;
}


/* FOOTER */
.footer {
  padding: 20px;
  text-align: center;
  background: #A4AEFE;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


/* MEDIA RESPONSIVENESS */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
